<section class="about-component">

  <div class="about__columns">
    <div class="about__articles container">
      <div class="about__articles-article col-lg-4">
        <div class="about__articles-content">
          <img src="assets/images/img1.png" class="about__articles-article__image">
          <div class="about__articles-article__text">
            <h2 class="about__articles-header">Lorem ipsum</h2>
            <h3 class="about__articles-text">Etiam ullamcorper. Suspendisse a pellentesque dui, non felis maecenas.</h3>
          </div>
        </div>
      </div>

      <div class="about__articles-article col-lg-4">
        <div class="about__articles-content">
          <img src="assets/images/img2.png" class="about__articles-article__image">
          <div class="about__articles-article__text">
            <h2 class="about__articles-header">Lorem ipsum</h2>
            <h3 class="about__articles-text">Etiam ullamcorper. Suspendisse a pellentesque dui, non felis maecenas.</h3>
          </div>
        </div>
      </div>

      <div class="about__articles-article col-lg-4">
        <div class="about__articles-content">
          <img src="assets/images/img3.png" class="about__articles-article__image">
          <div class="about__articles-article__text">
            <h2 class="about__articles-header">Lorem ipsum</h2>
            <h3 class="about__articles-text">Etiam ullamcorper. Suspendisse a pellentesque dui, non felis maecenas.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
